<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>foldOriginY</key>
	<real>0.9</real>
	<key>foldOriginX</key>
	<real>0.48</real>
	<key>bigButtonWidth</key>
	<real>0.16</real>
	<key>bigButtonHeight</key>
	<real>0.09</real>
	<key>callOriginX</key>
	<real>0.65</real>
	<key>callOriginY</key>
	<real>0.9</real>
	<key>betOriginX</key>
	<real>0.82</real>
	<key>betOriginY</key>
	<real>0.9</real>
	<key>checkFoldOriginX</key>
	<real>0.521</real>
	<key>checkFoldOriginY</key>
	<real>0.87</real>
	<key>smallButtonWidth</key>
	<real>0.0126</real>
	<key>smallButtonHeight</key>
	<real>0.0183</real>
	<key>foldToAnyOriginX</key>
	<real>0.521</real>
	<key>foldToAnyOriginY</key>
	<real>0.91</real>
	<key>foldToAnyLeftOriginX</key>
	<real>0.01</real>
	<key>foldToAnyLeftOriginY</key>
	<real>0.65</real>
	<key>checkCallOriginX</key>
	<real>0.6830000000000001</real>
	<key>checkCallOriginY</key>
	<real>0.87</real>
	<key>checkCallAnyOriginX</key>
	<real>0.6830000000000001</real>
	<key>checkCallAnyOriginY</key>
	<real>0.91</real>
	<key>sitOutNextHandOriginX</key>
	<real>0.01</real>
	<key>sitOutNextHandOriginY</key>
	<real>0.6899999999999999</real>
	<key>autoPostSitOutOriginX</key>
	<real>0.01</real>
	<key>autoPostSitOutOriginY</key>
	<real>0.73</real>
	<key>betRaiseOriginX</key>
	<real>0.842</real>
	<key>betRaiseOriginY</key>
	<real>0.87</real>
	<key>betRaiseAnyOriginX</key>
	<real>0.842</real>
	<key>betRaiseAnyOriginY</key>
	<real>0.91</real>
	<key>betBoxOriginX</key>
	<real>0.75</real>
	<key>betBoxOriginY</key>
	<real>0.826</real>
	<key>betBoxHeight</key>
	<real>0.026</real>
	<key>betBoxWidth</key>
	<real>0.061</real>
	<key>leaveTableOriginX</key>
	<real>0.872</real>
	<key>leaveTableOriginY</key>
	<real>0.05</real>
	<key>potBoxOriginX</key>
	<integer>361</integer>
	<key>potBoxOriginY</key>
	<integer>15</integer>
	<key>potBoxWidth</key>
	<integer>60</integer>
	<key>potBoxHeight</key>
	<integer>16</integer>
	<key>defaultWindowWidth</key>
	<integer>760</integer>
	<key>defaultWindowHeight</key>
	<integer>546</integer>
	<key>intercept</key>
	<real>20.94</real>
	<key>coefficient</key>
	<real>0.03003</real>
</dict>
</plist>
