<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>autoPostSitOutOriginX</key>
    <real>0.011574073694646358</real>
    <key>autoPostSitOutOriginY</key>
    <real>0.73561948537826538</real>
    <key>betBoxHeight</key>
    <real>0.026000000536441803</real>
    <key>betBoxOriginX</key>
    <real>0.78626543283462524</real>
    <key>betBoxOriginY</key>
    <real>0.84623891115188599</real>
    <key>betBoxWidth</key>
    <real>0.061000000685453415</real>
    <key>betOriginX</key>
    <real>0.87885802984237671</real>
    <key>betOriginY</key>
    <real>0.91703540086746216</real>
    <key>betRaiseAnyOriginX</key>
    <real>0.84200000762939453</real>
    <key>betRaiseAnyOriginY</key>
    <real>0.91482299566268921</real>
    <key>betRaiseOriginX</key>
    <real>0.84200000762939453</real>
    <key>betRaiseOriginY</key>
    <real>0.875</real>
    <key>bigButtonHeight</key>
    <real>0.055164337158203125</real>
    <key>bigButtonWidth</key>
    <real>0.07863849401473999</real>
    <key>callOriginX</key>
    <real>0.71064811944961548</real>
    <key>callOriginY</key>
    <real>0.91703540086746216</real>
    <key>checkCallAnyOriginX</key>
    <real>0.68300002813339233</real>
    <key>checkCallAnyOriginY</key>
    <real>0.91482299566268921</real>
    <key>checkCallOriginX</key>
    <real>0.68300002813339233</real>
    <key>checkCallOriginY</key>
    <real>0.875</real>
    <key>checkFoldOriginX</key>
    <real>0.52100000000000002</real>
    <key>checkFoldOriginY</key>
    <real>0.87</real>
    <key>coefficient</key>
    <real>0.030030000000000001</real>
    <key>defaultWindowHeight</key>
    <integer>546</integer>
    <key>defaultWindowWidth</key>
    <integer>760</integer>
    <key>foldOriginX</key>
    <real>0.5455247163772583</real>
    <key>foldOriginY</key>
    <real>0.91703540086746216</real>
    <key>foldToAnyLeftOriginX</key>
    <real>0.0099999997764825821</real>
    <key>foldToAnyLeftOriginY</key>
    <real>0.6847345232963562</real>
    <key>foldToAnyOriginX</key>
    <real>0.52100002765655518</real>
    <key>foldToAnyOriginY</key>
    <real>0.91482299566268921</real>
    <key>intercept</key>
    <real>20.940000000000001</real>
    <key>leaveTableOriginX</key>
    <real>0.91126543283462524</real>
    <key>leaveTableOriginY</key>
    <real>0.06305309385061264</real>
    <key>potBoxHeight</key>
    <integer>16</integer>
    <key>potBoxOriginX</key>
    <integer>361</integer>
    <key>potBoxOriginY</key>
    <integer>15</integer>
    <key>potBoxWidth</key>
    <integer>60</integer>
    <key>sitOutNextHandOriginX</key>
    <real>0.011574073694646358</real>
    <key>sitOutNextHandOriginY</key>
    <real>0.71128320693969727</real>
    <key>smallButtonHeight</key>
    <real>0.012910783290863037</real>
    <key>smallButtonWidth</key>
    <real>0.010563373565673828</real>
    <key>timeBankOriginX</key>
    <real>0.57175928354263306</real>
    <key>timeBankOriginY</key>
    <real>0.8196902871131897</real>
</dict>
</plist>

