<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>fold</string>
		<string>big</string>
	</array>
	<key>2</key>
	<array>
		<string>call</string>
		<string>big</string>
	</array>
	<key>3</key>
	<array>
		<string>bet</string>
		<string>big</string>
	</array>
	<key>4</key>
	<array>
		<string>checkFold</string>
		<string>small</string>
	</array>
	<key>5</key>
	<array>
		<string>foldToAny</string>
		<string>small</string>
	</array>
	<key>6</key>
	<array>
		<string>checkCall</string>
		<string>small</string>
	</array>
	<key>7</key>
	<array>
		<string>checkCallAny</string>
		<string>small</string>
	</array>
	<key>8</key>
	<array>
		<string>betRaise</string>
		<string>small</string>
	</array>
	<key>9</key>
	<array>
		<string>betRaiseAny</string>
		<string>small</string>
	</array>
	<key>10</key>
	<array>
		<string>sitOutNextHand</string>
		<string>small</string>
	</array>
	<key>11</key>
	<array>
		<string>autoPostSitOut</string>
		<string>small</string>
	</array>
	<key>15</key>
	<array>
		<string>leaveTable</string>
		<string>small</string>
	</array>
	<key>16</key>
	<array>
		<string>leaveAllTables</string>
		<string>small</string>
	</array>
	<key>26</key>
	<array>
		<string>foldToAnyLeft</string>
		<string>small</string>
	</array>
</dict>
</plist>
