<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>foldOriginY</key>
	<real>0.91</real>
	<key>foldOriginX</key>
	<real>0.64</real>
	<key>bigButtonWidth</key>
	<real>0.1</real>
	<key>bigButtonHeight</key>
	<real>0.075</real>
	<key>callOriginX</key>
	<real>0.76</real>
	<key>callOriginY</key>
	<real>0.91</real>
	<key>betOriginX</key>
	<real>0.88</real>
	<key>betOriginY</key>
	<real>0.91</real>
	<key>timeBankOriginX</key>
	<real>0.46</real>
	<key>timeBankOriginY</key>
	<real>0.8</real>
	<key>checkFoldOriginX</key>
	<real>0.615</real>
	<key>checkFoldOriginY</key>
	<real>0.92</real>
	<key>smallButtonWidth</key>
	<real>0.0126</real>
	<key>smallButtonHeight</key>
	<real>0.0183</real>
	<key>foldToAnyOriginX</key>
	<real>0.43</real>
	<key>foldToAnyOriginY</key>
	<real>0.89</real>
	<key>foldToAnyLeftOriginX</key>
	<real>0.43</real>
	<key>foldToAnyLeftOriginY</key>
	<real>0.89</real>
	<key>checkCallOriginX</key>
	<real>0.745</real>
	<key>checkCallOriginY</key>
	<real>0.92</real>
	<key>checkCallAnyOriginX</key>
	<real>0.745</real>
	<key>checkCallAnyOriginY</key>
	<real>0.962</real>
	<key>sitOutNextHandOriginX</key>
	<real>0.43</real>
	<key>sitOutNextHandOriginY</key>
	<real>0.93</real>
	<key>autoPostSitOutOriginX</key>
	<real>0.43</real>
	<key>autoPostSitOutOriginY</key>
	<real>0.97</real>
	<key>betRaiseOriginX</key>
	<real>0.876</real>
	<key>betRaiseOriginY</key>
	<real>0.92</real>
	<key>betRaiseAnyOriginX</key>
	<real>0.876</real>
	<key>betRaiseAnyOriginY</key>
	<real>0.962</real>
	<key>betBoxOriginX</key>
	<real>0.88</real>
	<key>betBoxOriginY</key>
	<real>0.79</real>
	<key>betBoxHeight</key>
	<real>0.025</real>
	<key>betBoxWidth</key>
	<real>0.115</real>
	<key>leaveTableOriginX</key>
	<real>0.05</real>
	<key>leaveTableOriginY</key>
	<real>0.12</real>
	<key>potBoxOriginX</key>
	<integer>361</integer>
	<key>potBoxOriginY</key>
	<integer>15</integer>
	<key>potBoxWidth</key>
	<integer>60</integer>
	<key>potBoxHeight</key>
	<integer>16</integer>
	<key>defaultWindowWidth</key>
	<integer>795</integer>
	<key>defaultWindowHeight</key>
	<integer>548</integer>
	<key>intercept</key>
	<real>20.94</real>
	<key>coefficient</key>
	<real>0.03003</real>
</dict>
</plist>
