<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>autoPostSitOutOriginX</key>
    <real>0.0084876539185643196</real>
    <key>autoPostSitOutOriginY</key>
    <real>0.74889379739761353</real>
    <key>betBoxHeight</key>
    <real>0.026000000536441803</real>
    <key>betBoxOriginX</key>
    <real>0.71682101488113403</real>
    <key>betBoxOriginY</key>
    <real>0.85287612676620483</real>
    <key>betBoxWidth</key>
    <real>0.050469458103179932</real>
    <key>betOriginX</key>
    <real>0.85879629850387573</real>
    <key>betOriginY</key>
    <real>0.91703540086746216</real>
    <key>betRaiseAnyOriginX</key>
    <real>0.84182101488113403</real>
    <key>betRaiseAnyOriginY</key>
    <real>0.9100000262260437</real>
    <key>betRaiseOriginX</key>
    <real>0.8433641791343689</real>
    <key>betRaiseOriginY</key>
    <real>0.87000000476837158</real>
    <key>bigButtonHeight</key>
    <real>0.062206566333770752</real>
    <key>bigButtonWidth</key>
    <real>0.083333313465118408</real>
    <key>callOriginX</key>
    <real>0.68132716417312622</real>
    <key>callOriginY</key>
    <real>0.91261059045791626</real>
    <key>checkCallAnyOriginX</key>
    <real>0.66743826866149902</real>
    <key>checkCallAnyOriginY</key>
    <real>0.9100000262260437</real>
    <key>checkCallOriginX</key>
    <real>0.66589504480361938</real>
    <key>checkCallOriginY</key>
    <real>0.87000000476837158</real>
    <key>checkFoldOriginX</key>
    <real>0.49151235818862915</real>
    <key>checkFoldOriginY</key>
    <real>0.87057524919509888</real>
    <key>coefficient</key>
    <real>0.030030000000000001</real>
    <key>defaultWindowHeight</key>
    <integer>546</integer>
    <key>defaultWindowWidth</key>
    <integer>760</integer>
    <key>foldOriginX</key>
    <real>0.50848764181137085</real>
    <key>foldOriginY</key>
    <real>0.91924780607223511</real>
    <key>foldToAnyLeftOriginX</key>
    <real>0.0069444444961845875</real>
    <key>foldToAnyLeftOriginY</key>
    <real>0.69579648971557617</real>
    <key>foldToAnyOriginX</key>
    <real>0.49151235818862915</real>
    <key>foldToAnyOriginY</key>
    <real>0.9100000262260437</real>
    <key>intercept</key>
    <real>20.940000000000001</real>
    <key>leaveTableOriginX</key>
    <real>0.90509259700775146</real>
    <key>leaveTableOriginY</key>
    <real>0.060840707272291183</real>
    <key>potBoxHeight</key>
    <integer>16</integer>
    <key>potBoxOriginX</key>
    <integer>361</integer>
    <key>potBoxOriginY</key>
    <integer>15</integer>
    <key>potBoxWidth</key>
    <integer>60</integer>
    <key>sitOutNextHandOriginX</key>
    <real>0.0069444444961845875</real>
    <key>sitOutNextHandOriginY</key>
    <real>0.72234511375427246</real>
    <key>smallButtonHeight</key>
    <real>0.01760566234588623</real>
    <key>smallButtonWidth</key>
    <real>0.010563373565673828</real>
    <key>timeBankOriginX</key>
    <real>0.48688271641731262</real>
    <key>timeBankOriginY</key>
    <real>0.81084072589874268</real>
</dict>
</plist>

