<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>autoPostSitOutOriginX</key>
    <real>0.011574073694646358</real>
    <key>autoPostSitOutOriginY</key>
    <real>0.73340708017349243</real>
    <key>betBoxHeight</key>
    <real>0.026000000536441803</real>
    <key>betBoxOriginX</key>
    <real>0.78780865669250488</real>
    <key>betBoxOriginY</key>
    <real>0.84402656555175781</real>
    <key>betBoxWidth</key>
    <real>0.061000000685453415</real>
    <key>betOriginX</key>
    <real>0.88040125370025635</real>
    <key>betOriginY</key>
    <real>0.91482299566268921</real>
    <key>betRaiseAnyOriginX</key>
    <real>0.84199999999999997</real>
    <key>betRaiseAnyOriginY</key>
    <real>0.91000000000000003</real>
    <key>betRaiseOriginX</key>
    <real>0.84199999999999997</real>
    <key>betRaiseOriginY</key>
    <real>0.87</real>
    <key>bigButtonHeight</key>
    <real>0.064553976058959961</real>
    <key>bigButtonWidth</key>
    <real>0.071596264839172363</real>
    <key>callOriginX</key>
    <real>0.71219134330749512</real>
    <key>callOriginY</key>
    <real>0.91261059045791626</real>
    <key>checkCallAnyOriginX</key>
    <real>0.68132716417312622</real>
    <key>checkCallAnyOriginY</key>
    <real>0.9100000262260437</real>
    <key>checkCallOriginX</key>
    <real>0.68132716417312622</real>
    <key>checkCallOriginY</key>
    <real>0.87278759479522705</real>
    <key>checkFoldOriginX</key>
    <real>0.52100002765655518</real>
    <key>checkFoldOriginY</key>
    <real>0.87000000476837158</real>
    <key>coefficient</key>
    <real>0.030030000000000001</real>
    <key>defaultWindowHeight</key>
    <integer>546</integer>
    <key>defaultWindowWidth</key>
    <integer>760</integer>
    <key>foldOriginX</key>
    <real>0.55015432834625244</real>
    <key>foldOriginY</key>
    <real>0.91039824485778809</real>
    <key>foldToAnyLeftOriginX</key>
    <real>0.0099999997764825821</real>
    <key>foldToAnyLeftOriginY</key>
    <real>0.68252211809158325</real>
    <key>foldToAnyOriginX</key>
    <real>0.52100000000000002</real>
    <key>foldToAnyOriginY</key>
    <real>0.91000000000000003</real>
    <key>intercept</key>
    <real>20.940000000000001</real>
    <key>leaveTableOriginX</key>
    <real>0.90972220897674561</real>
    <key>leaveTableOriginY</key>
    <real>0.056415930390357971</real>
    <key>potBoxHeight</key>
    <integer>16</integer>
    <key>potBoxOriginX</key>
    <integer>361</integer>
    <key>potBoxOriginY</key>
    <integer>15</integer>
    <key>potBoxWidth</key>
    <integer>60</integer>
    <key>sitOutNextHandOriginX</key>
    <real>0.0099999997764825821</real>
    <key>sitOutNextHandOriginY</key>
    <real>0.70685839653015137</real>
    <key>smallButtonHeight</key>
    <real>0.015258193016052246</real>
    <key>smallButtonWidth</key>
    <real>0.010563373565673828</real>
    <key>timeBankOriginX</key>
    <real>0.57330244779586792</real>
    <key>timeBankOriginY</key>
    <real>0.8152654767036438</real>
</dict>
</plist>

