<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>autoPostSitOutOriginX</key>
    <real>0.011574073694646358</real>
    <key>autoPostSitOutOriginY</key>
    <real>0.77101767063140869</real>
    <key>betBoxHeight</key>
    <real>0.026000000536441803</real>
    <key>betBoxOriginX</key>
    <real>0.73533952236175537</real>
    <key>betBoxOriginY</key>
    <real>0.84845131635665894</real>
    <key>betBoxWidth</key>
    <real>0.057511746883392334</real>
    <key>betOriginX</key>
    <real>0.86342591047286987</real>
    <key>betOriginY</key>
    <real>0.92146015167236328</real>
    <key>betRaiseAnyOriginX</key>
    <real>0.8433641791343689</real>
    <key>betRaiseAnyOriginY</key>
    <real>0.91482299566268921</real>
    <key>betRaiseOriginX</key>
    <real>0.8433641791343689</real>
    <key>betRaiseOriginY</key>
    <real>0.875</real>
    <key>bigButtonHeight</key>
    <real>0.055164337158203125</real>
    <key>bigButtonWidth</key>
    <real>0.080985903739929199</real>
    <key>callOriginX</key>
    <real>0.69212961196899414</real>
    <key>callOriginY</key>
    <real>0.91703540086746216</real>
    <key>checkCallAnyOriginX</key>
    <real>0.68300002813339233</real>
    <key>checkCallAnyOriginY</key>
    <real>0.91261059045791626</real>
    <key>checkCallOriginX</key>
    <real>0.68300002813339233</real>
    <key>checkCallOriginY</key>
    <real>0.875</real>
    <key>checkFoldOriginX</key>
    <real>0.52237653732299805</real>
    <key>checkFoldOriginY</key>
    <real>0.875</real>
    <key>coefficient</key>
    <real>0.10680000000000001</real>
    <key>defaultWindowHeight</key>
    <integer>546</integer>
    <key>defaultWindowWidth</key>
    <integer>760</integer>
    <key>foldOriginX</key>
    <real>0.52083331346511841</real>
    <key>foldOriginY</key>
    <real>0.91924780607223511</real>
    <key>foldToAnyLeftOriginX</key>
    <real>0.011574073694646358</real>
    <key>foldToAnyLeftOriginY</key>
    <real>0.71792036294937134</real>
    <key>foldToAnyOriginX</key>
    <real>0.52237653732299805</real>
    <key>foldToAnyOriginY</key>
    <real>0.91261059045791626</real>
    <key>intercept</key>
    <real>23.57</real>
    <key>leaveTableOriginX</key>
    <real>0.872</real>
    <key>leaveTableOriginY</key>
    <real>0.050000000000000003</real>
    <key>potBoxHeight</key>
    <integer>20</integer>
    <key>potBoxOriginX</key>
    <integer>358</integer>
    <key>potBoxOriginY</key>
    <real>82</real>
    <key>potBoxWidth</key>
    <real>45</real>
    <key>sitOutNextHandOriginX</key>
    <real>0.013117283582687378</real>
    <key>sitOutNextHandOriginY</key>
    <real>0.7444690465927124</real>
    <key>smallButtonHeight</key>
    <real>0.010563373565673828</real>
    <key>smallButtonWidth</key>
    <real>0.0082159638404846191</real>
    <key>timeBankOriginX</key>
    <real>0.49768519401550293</real>
    <key>timeBankOriginY</key>
    <real>0.81747788190841675</real>
</dict>
</plist>

